<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SomethingDigital\AjaxLayeredNav\Model\ConfigInterface" type="SomethingDigital\AjaxLayeredNav\Model\Config" />

    <!-- Preferences to convert layered models to multiselect. -->
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Attribute" type="SomethingDigital\AjaxLayeredNav\Model\Layer\Filter\Attribute" />
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Category" type="SomethingDigital\AjaxLayeredNav\Model\Layer\Filter\Category" />
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Decimal" type="SomethingDigital\AjaxLayeredNav\Model\Layer\Filter\Decimal" />
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Price" type="SomethingDigital\AjaxLayeredNav\Model\Layer\Filter\Price" />
    <preference for="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection" type="SomethingDigital\AjaxLayeredNav\Model\ResourceModel\CatalogSearch\Fulltext\Collection" />

    <type name="Magento\Framework\Search\Adapter\Mysql\Filter\Builder\Range">
        <plugin name="sd_ajaxlayerednav-range" type="SomethingDigital\AjaxLayeredNav\Model\Plugin\Mysql\RangeBuilderPlugin" />
    </type>
    <type name="Magento\Elasticsearch\SearchAdapter\Filter\Builder\Range">
        <plugin name="sd_ajaxlayerednav-range" type="SomethingDigital\AjaxLayeredNav\Model\Plugin\Elasticsearch\RangeBuilderPlugin" />
    </type>
    <type name="Magento\Solr\SearchAdapter\Filter\Builder\Range">
        <plugin name="sd_ajaxlayerednav-range" type="SomethingDigital\AjaxLayeredNav\Model\Plugin\Solr\RangeBuilderPlugin" />
    </type>
    <type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <plugin name="sd_ajaxlayerednav" type="SomethingDigital\AjaxLayeredNav\Model\Plugin\CatalogSearch\ResourceModel\Fulltext\CollectionPlugin" />
    </type>
    <type name="Magento\CatalogSearch\Model\Adapter\Mysql\Filter\Preprocessor">
        <plugin name="sd_ajaxlayerednav" type="SomethingDigital\AjaxLayeredNav\Model\Plugin\Mysql\Adapter\Filter\PreprocessorPlugin" />
    </type>
    <preference for="Magento\Search\Api\SearchInterface" type="SomethingDigital\AjaxLayeredNav\Model\Search\Search"/>
    <preference for="Magento\Catalog\Model\Layer\Filter\Item" type="SomethingDigital\AjaxLayeredNav\Model\Layer\Filter\Item"/>
</config>
