<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Controller\Category\View">
        <plugin name="sd_ajaxlayerednav" type="SomethingDigital\AjaxLayeredNav\Controller\CatalogCategoryViewPlugin" />
    </type>
    <type name="Magento\CatalogSearch\Controller\Result\Index">
        <plugin name="sd_ajaxlayerednav" type="SomethingDigital\AjaxLayeredNav\Controller\CatalogSearchResultIndexPlugin" />
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="sd_ajaxlayerednav" type="SomethingDigital\AjaxLayeredNav\Block\ListProductPlugin" />
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct\Toolbar">
        <plugin name="sd_ajaxlayerednav" type="SomethingDigital\AjaxLayeredNav\Block\ListProductToolbarPlugin" />
    </type>
</config>
