<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Controller\Category\View">
        <plugin name="sd_ajaxlayerednav" type="SomethingDigital\AjaxLayeredNav\Controller\CatalogCategoryViewPlugin" />
    </type>
    <type name="Magento\CatalogSearch\Controller\Result\Index">
        <plugin name="sd_ajaxlayerednav" type="SomethingDigital\AjaxLayeredNav\Controller\CatalogSearchResultIndexPlugin" />
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="sd_ajaxlayerednav" type="SomethingDigital\AjaxLayeredNav\Block\ListProductPlugin" />
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="sd_ajaxlayerednav" type="SomethingDigital\AjaxLayeredNav\Block\ListProductToolbarPlugin" />
    </type>
    <type name="Magento\Framework\Url\ModifierComposite">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="sd_ajaxlayerednav" xsi:type="object">SomethingDigital\AjaxLayeredNav\Model\Url\IsAjaxModifier</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\LayeredNavigation\Block\Navigation\FilterRenderer">
        <plugin name="swatches_layered_renderer" type="Magento\Swatches\Model\Plugin\FilterRenderer" sortOrder="1" disabled="true"/>
        <plugin name="sd_ajaxlayerednav" type="SomethingDigital\AjaxLayeredNav\Model\Plugin\Swatches\FilterRendererPlugin" sortOrder="1"/>
    </type>
</config>
